.home__title{
    color: #B8B8B8;
    margin-left: 15px;
    position: absolute;
    margin-top: 25px;
}

.avatar__home{
    display: flex;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.your__goals{
    color:  black;
    margin-top: 70px;
    margin-left: 15px;

}

.progress__bar{
    height: 40px;
    width: 40px;
    top: 10px;
}
.card__text{
    display: absolute;
}

.progress__bardiv{
    display: flex;
    float: right;
}

.activities__title{
    color: black;
    margin-left: 15px;
}

.link__view{
    float: right;
    margin-right: 15px;

}

.fab__button{
margin-bottom: 20px;
}